NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=mafiauz_robot
SESSION_SECRET=super_secret_key_mafia_city_2026_secure_random
SUPABASE_URL=https://nxydhzjtxzeqrymydzrr.supabase.co
SUPABASE_KEY=sb_publishable_3A48IuvHq_KzXFSAgN_vLA_iIHBpt5G
NEXT_PUBLIC_SUPABASE_URL=https://nxydhzjtxzeqrymydzrr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_3A48IuvHq_KzXFSAgN_vLA_iIHBpt5G
WEBAPP_URL=https://mafia-online-app.vercel.app
NEXT_PUBLIC_WEBAPP_URL=https://mafia-online-app.vercel.app